.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover{
  left: -10px;
  z-index: 1;
}


.ant-carousel .slick-next,
.ant-carousel .slick-next:hover {
  right: 0px;
  z-index: 1;
}

.ant-carousel .slick-next.slick-disabled {
  z-index: -1;
}
.ant-carousel .slick-prev.slick-disabled {
  z-index: -1;
}
.ant-carousel .slick-list .slick-slide.slick-active {
  padding: 5px;
}